.slide img {
    width: 100%;
}

.titulo-servicos {
    color: #5f0f40;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;

}

.subtitulo-serviços {
    cursor: pointer;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 250px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon {
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    width: 120px;
    height: 120px;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--Roxo);
}


.icon i {
    color: var(--Roxo);
    font-size: 40px;
}

.title {
    color: var(--Roxo);
    font-size: 18px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}

.descridao-card {
    color: #5a5a5a;
    font-size: 14px;
}

.cards {
    margin-top: 80px;
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
}

.card:hover {
    transform: scale(1.07);
}

.subtitulo-serviços {
    font-weight: bold;
    color: var(--Roxo);
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobrenos-container {
    width: 100%;
    max-width: 1200px;
    height: 650px;
    background-color: var(--Roxo);
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 300px;
}

.dogSobrenos {
    width: 70%;
    border-radius: 30px;
    rotate: -12deg;
    margin-left: 70px;

}

.paragrafos-sobrenos {
    color: #ffffff;
    text-indent: 1.5em;
    font-size: 18px;
}

.title-sobrenos {
    color: #ffffff;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    margin: 40px;
}

.column-2 {
    width: 70%;
    margin: 30px;
}

.botton-saibamais {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botton-saibamais button {
    margin-top: 20px;
    border-radius: 45px;
    padding: 10px;
    width: 170px;
    background-color: var(--Laranja);
    font-weight: bold;
    color: #ffffff;
    box-shadow: none;
    border: 2px solid #fff;
    transition: transform 0.3s ease-in-out;

}

.botton-saibamais button:hover {
    transform: scale(1.05);
    background-color: var(--Amarelo);
    box-shadow: none;
}


.formulario {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;
    padding-left: 30px;
}

.imgforma,
.imgcachorrogato {
    position: absolute;
    top: 0;
}

.imgcachorrogato {
    z-index: 3;
    width: 600px;
    left: 100px;
}

.imgforma {
    z-index: 1;
    width: 850px;
    left: -150px;
    top: -40px;
}

.formRelatos {
    position: relative;
    z-index: 2;
    width: 600px;
    background: linear-gradient(to right, var(--Roxo), var(--RoxoClaro));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 15px;
    position: absolute;
    right: 30px;
    top: 70px;
}

.formRelatos h1 {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: 0;
    line-height: 1;
    width: 100%;
}

.formRelatos label {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.formRelatos input {
    padding: 15px;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 500px;
}

.formRelatos input:focus {
    border: 1px solid rgb(219, 190, 190);
}

.botton-enviar {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center
}


.botton-enviar button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    background-color: var(--Roxo);
    font-weight: bold;
    color: #ffffff;
    box-shadow: none;
    border: none;
    transition: all 0.3s ease-in-out;
}

.botton-enviar button:hover {
    transform: scale(1.05);
    box-shadow: none;
}

.clinicahora {
    margin-top: 700px;
    width: 100%;
}

.clinica-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-coitainer {
    width: 100%;
    margin: 30px;
}

.paragrafo-24horas {
    width: 70%;
    text-indent: 1.5em;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 10px;
}

.imagemcachorro {
    width: 40%;
    width: 500px;
}

.titulohora {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
}


.botton-faleconosco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.botton-faleconosco button {
    padding: 15px 40px;
    font-size: 16px;
    background-color: var(--Roxo);
    font-weight: bold;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.botton-faleconosco button:hover {
    background-color: var(--RoxoClaro);
    transform: scale(1.05);
}

.carousel-item img.desktop {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-item img.mobile {
    display: none;
}

.link_servicos {
    text-decoration: none;
    color: inherit;
}



@media screen and (max-width: 480px) {
    .cards {
        align-content: center;
        display: block;
        margin-top: 0%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;

    }

    .card {
        margin-top: 70px;
    }

    .titulo-servicos {
        text-align: center;
        width: 100%;
    }

    body {
        align-content: center;
        display: block;
    }

    .subtitulo-serviços {
        text-align: center;
        font-size: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .sobrenos-container {
        display: block;
        height: auto;
        padding: 0;
        margin-top: 300px;
        align-content: center;
        padding-top: 30px;
        text-align: center;
        width: 90%;
        margin-bottom: 530px;
    }

    .paragrafos-sobrenos {
        font-size: 13px;
        width: 120%;
        text-align: start;
    }

    .dogSobrenos {
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .title-sobrenos {
        font-size: 30px;
        width: 85%;
        text-align: center;
    }

    .botton-saibamais button {
        width: 150%;
        height: 30px;
        font-size: 10px;
        text-align: center;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .formRelatos {
        width: 80%;
        height: auto;
    }

    .formRelatos input {
        font-size: 15px;
        height: 25px;
        margin-top: 0%;
    }

    .formRelatos label {
        font-size: 15px;
        margin-bottom: 0%;
    }

    .botton-enviar button {
        margin-top: 0%;
    }

    .imgforma {
        width: 200%;

    }

    .imgcachorrogato {
        width: 50%;
        margin-top: 470px;
        left: 0;
    }

    .clinica-container {
        display: block;
        margin-bottom: 50px;
        height: auto;
    }

    .titulohora {
        text-align: center;
        width: 85%;
        left: 0;
    }

    .imagemcachorro {
        width: 90%;
        margin-left: 10%;
    }

    .paragrafo-24horas {
        width: 85%;
        margin: 0;
    }

    .botton-faleconosco {
        width: 85%;
    }

    .carousel-item img.desktop {
        display: none;
    }

    .carousel-item img.mobile {
        display: block;
        width: 100%;
        height: auto;
    }

}